.header {
  background-color: #2196f3;
  padding-left: 3.875rem;
}

.tabs {
  display: flex;
  gap: 7px;
}

.tabs__button {
  background-color: transparent;
  border: none;
  padding-block: 1.313rem;
  padding-inline: 20px;
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  font-family: 'Roboto';
  color: rgba(255, 255, 255, 0.7);
}

.active {
  color: #fff;
  background-color: #1e88e5;
}

@media (width=320px) {
  .header {
    padding-left: 0;
  }
}
